<h2><a target="_blank" href="https://froala.com/blog/editor/how-to-integrate-froala-with-angular/">Froala!</a></h2>
<div class="container" style="height: 500px;">
  <div [froalaEditor] [(froalaModel)]="editorContent">Hello, Froala!</div>
</div>
<div style="margin-bottom: 50px;"></div>

<div [froalaEditor]="options"></div>
<div style="margin-bottom: 50px;"></div>

<!-- <textarea [froalaEditor] formControlName="content"></textarea> -->


<div [froalaView]="editorContent"></div>

<!-- image -->
<img [froalaEditor] [(froalaModel)]="imgObj" />